In [7]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv("mldata.csv")

In [4]:
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [5]:
df['gender'] = df ['gender'].replace("Male",1)
df['gender'] = df ['gender'].replace("Female",0)
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [6]:
x = df[['weight','gender']]
y = df['likeness']

In [8]:
model = DecisionTreeClassifier().fit(x,y)

In [9]:
model.predict([['80','1']])

C:\Users\Asif_\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [10]:
model.predict([['23','0']])

C:\Users\Asif_\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

how to measure the accuracy of our model

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
train_x,x_test,y_train_y,test_y = train_test_split(x,y,test_size = 0.2)
model = DecisionTreeClassifier().fit(train_x,y_train_y)
predicted_value = model.predict(x_test)
score = accuracy_score(test_y,predicted_value)
score

0.5714285714285714

If we run multiple time it's score will change

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
train_x,x_test,y_train_y,test_y = train_test_split(x,y,test_size = 0.2,random_state=0)
model = DecisionTreeClassifier().fit(train_x,y_train_y)
predicted_value = model.predict(x_test)
score = accuracy_score(test_y,predicted_value)
score

0.6122448979591837

If we run multiple time it's score will not change because of #Random_state